<div class="ui divided items">
  <div class="ui item">
    <div class="ui medium image">
      <img [src]="cocktail.image">
    </div>
    <div class="middle aligned content">
      <div class="header">{{ cocktail.name }}</div>
      <div *ngIf="showDetails">
        <div class="meta">
          <span class="price">{{ rating | async }}</span>
        </div>
        <div class="description">
          <p>{{ cocktail.instructions}}</p>
        </div>
      </div>
      <div style="padding-top: 10%">
        <button class="ui button" (click)="onClick()">details</button>
      </div>
    </div>
  </div>
</div>
