<div class="ui divided items">
  <div class="ui item">
    <div class="ui small image">
      <img [src]="cocktail.image">
    </div>
    <div class="ui container" style="padding-left: 2%; padding-right: 0%; padding-top: 1%;">
    <div class="content">
      <div class="ui header">{{ cocktail.name }}</div>

      <div *ngIf="showDetails">
        <div class="meta">
          <span class="price">Rating: {{ rating | async }}</span>
        </div>
        <div class="description">
          <p>{{ (cocktailDetails | async)?.instructions}}</p>
        </div>
        <div>
          <ul>
            <li *ngFor="let ingredient of (cocktailDetails | async)?.ingredients">
              {{ ingredient }}
            </li>
          </ul>
        </div>
      </div>



      <div class="extra">
        <button class="ui right floated pink basic button" (click)="onClick()">
          {{ buttonText }}
          <i class="right chevron icon"></i>
        </button>
      </div>
    </div>
  </div>

  </div>
</div>
