    <div class="ui divided items">
      <div class="ui item">
        <div class="ui small image">
          <img src="../../../assets/default-product.jpg">
        </div>
        <div class="middle aligned content">
          <div class="header">{{ cocktail.name }}</div>
          <div class="meta">
            <span class="price">Rating: {{ cocktail.rating }}</span>
          </div>
          <div class="description">
            <p>{{ cocktail.instructions}}</p>
          </div>
        </div>
      </div>
    </div>
