
<div class="ui bottom right attached segment pushable">
  <div class="ui inverted right vertical sidebar menu">

    <a class="item">
      <i class="heart outline icon"></i>
      margarita

    </a>
    <a class="item">
      <i class="heart outline icon"></i>
      mai tai

    </a>
    <a class="item">
      <i class="heart outline icon"></i>
      blue lagoon

    </a>



  </div>

  <app-filter></app-filter>

  <div class="pusher">
    <div class="ui basic segment">

    </div>
  </div>
  </div>

