
  <div class="ui bottom attached segment pushable">
    <div class="ui inverted left vertical sidebar menu">


      <a class="item">
        <i class="tasks icon"></i>
        Category
        <div class="ui form">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbOrdinary">
                <label style="color: lightpink;">Ordinary drink</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbShot">
                <label style="color: lightpink;">Shot</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbBeer">
                <label style="color: lightpink;">Beer</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbHomemade">
                <label style="color: lightpink;">Homemade Liqueur</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbPunch">
                <label style="color: lightpink;">Punch</label>
              </div>
            </div>
          </div>
        </div>
      </a>


      <a class="item">
        <i class="beer glass icon"></i>
        Alcoholic
        <div class="ui form">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbAlcoholic">
                <label style="color: lightpink;">Alcoholic</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbNonAlcoholic">
                <label style="color: lightpink;">Non alcoholic</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbBoth"  checked="checked">
                <label style="color: lightpink;">Both</label>
              </div>
            </div>
          </div>
        </div>
      </a>


      <a class="item">
        <i class="martini glass icon"></i>
        Glass
        <div class="ui form">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbCocktail">
                <label style="color: lightpink;">Cocktail glass</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbHighball">
                <label style="color: lightpink;">Highball glass</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="rbOld-fashioned">
                <label style="color: lightpink;">Old-fashioned glass</label>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pusher">
      <div class="ui basic segment">

        <app-drink-list [cocktails] = "cocktails"></app-drink-list>

      </div>
    </div>
  </div>

