<div class="ui bottom attached segment pushable">
  <div class="ui inverted left vertical sidebar menu" style="padding: 1%;">

    <form [formGroup]="filterForm" (ngSubmit)="onFilter()">

      <a class="item" >
        <i class="tasks icon"></i>
        <div class="fluid field">
          <label style="font-size: large;">Category</label>

          <div class="field category" style="padding: 1%;" *ngFor = "let category of categories; let i = index" formArrayName = "categoriesForm">
            <div class="checkbox" style="padding: 1%;">
              <input type="checkbox" [formControlName]="i">
              <label style="color: lightpink; font-size: small;"> {{categories[i].replace('_', ' ')}} </label>
            </div>
          </div>

        </div>
      </a>


      <a class="item">
        <i class="beer glass icon"></i>
        <div class="ui form">
          <label style="font-size: large;">Alcoholic</label>
          <div class="grouped fields" style="padding: 1%;">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" value="alcoholic" formControlName ="alcoholic">
                <label style="color: lightpink; font-size: small;">Alcoholic</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" value="nonAlcoholic" formControlName ="alcoholic">
                <label style="color: lightpink; font-size: small;">Non alcoholic</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" [checked]="true" value="both" formControlName ="alcoholic">
                <label style="color: lightpink; font-size: small;">Both</label>
              </div>
            </div>
          </div>
        </div>
      </a>


      <a class="item" >
        <i class="martini glass icon"></i>
        <div class="fluid field">
          <label style="font-size: large;">Glass</label>

          <div class="field category" style="padding: 1%;" *ngFor = "let glass of glasses; let i = index" formArrayName = "glassesForm">
            <div class="checkbox" style="padding: 1%;">
              <input type="checkbox" [formControlName]="i">
              <label style="color: lightpink; font-size: small;"> {{glasses[i]}} </label>
            </div>
          </div>

        </div>
      </a>

      <button class="ui inverted white basic fluid button" type= "submit">
        Filter
      </button>
    </form>
  </div>
  <div class="pusher">
    <div class="ui basic segment">

      <app-drink-list [cocktails]="cocktails"></app-drink-list>
      <!-- suma id svih koktela koji se prikazuju na stranici (dodato radi testiranja) -->
      <p>Pipe proba {{cocktails | filterPipe}}</p>

    </div>

  </div>
</div>
