<body>
  <div class="ui top attached inverted demo menu">
    <a class="item left attached two wide column" name="filter">
      <i class="sidebar icon"></i>
      Filter
    </a>


    <div class="ui transparent left icon input">
        <input class="prompt" type="text" placeholder="Search cocktails and ingredients">
        <i class="search icon" style="color: white;"></i>
    </div>

    <a class="item right attached two wide column" name="favourites">
      <i class="heart icon"></i>
      Favourites
    </a>

  </div>

  <app-favourites></app-favourites>


</body>
