<body>

  <div class="ui top attached inverted demo menu">
    <a class="item left attached two wide column" name="filter">
      <i class="sidebar icon"></i>
      Filter
    </a>


    <form class="ui transparent left icon input" [formGroup]="searchForm" (keydown)="onSubmit($event)">
        <input class="prompt" type="text" placeholder="Search cocktails and ingredients" style="color: white;" formControlName = "search">
        <i class="search icon" style="color: white;"></i>
    </form>

    <a class="item right attached two wide column" name="favourites">
      <i class="heart icon"></i>
      Favourites
    </a>

  </div>

  <app-favourites [cocktails] = "cocktails"></app-favourites>


</body>
