<body>
  <div class="ui top attached demo menu">
    <a class="item">
      <i class="sidebar icon"></i>
      Filter
    </a>
  </div>
  <div class="ui bottom attached segment pushable">
  <div class="ui inverted left vertical sidebar menu">
    <a class="item">
      <i class="tasks icon"></i>
      Category
    </a>
    <a class="item">
      <i class="beer glass icon"></i>
      Alcoholic
      <div class="ui form">
        <div class="grouped fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="rbAlcoholic">
              <label style="color: lightpink;">Alcoholic</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="rbNonAlcoholic">
              <label style="color: lightpink;">Non alcoholic</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="rbBoth"  checked="checked">
              <label style="color: lightpink;">Both</label>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="item">
      <i class="martini glass icon"></i>
      Glass
    </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      
    </div>
  </div>
</div>
</body>

