<div class="ui container" style="padding-top: 10%;">

<div class="ui grid">
    <div class="five wide column"> </div>
    <div class="six wide column">
      <div class="ui placeholder segment">
        <div class="column">
          <form class="ui form" [formGroup] = "signUpForm" (ngSubmit) = "onSignUp()">
            <div class="field">
              <label style="font-size: large;">Username</label>
              <div class="ui left icon input">
                <input type="text" placeholder="Username" formControlName = "username">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label style="font-size: large;">Password</label>
              <div class="ui left icon input">
                <input type="password" placeholder="Password" formControlName = "password">
                <i class="lock icon"></i>
              </div>
            </div>
            <div class="field">
                <label style="font-size: large;">Confirm password</label>
                <div class="ui left icon input">
                  <input type="password" placeholder="Confirm password" formControlName = "confirmPassword">
                  <i class="lock icon"></i>
                </div>
            </div>
            <div class="field">
                <label style="font-size: large;">Age</label>
                <div class="ui left icon input">
                  <input placeholder="Age" formControlName = "age">
                  <i class="glass martini icon"></i>
                </div>
              </div>

          <button class="ui pink basic button" type = "submit" >Sign up</button>
          </form>
          <div class="ui horizontal divider">
            Already have an account?
          </div>
          <div class="middle aligned column">
            <div class="ui pink basic big button" (click)="onLogin()">
              <i class="signup icon"></i>
              Login
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
